{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/normalizer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% block includes %}{% endblock %}
  </head>
  <body>
    <header class="header-container">
      <h2 class="header__logo">My Blog</h2>
      <ul class="header__links">
        <li><a class="header__link" href="{% url 'home' %}">Home</a></li>
        <li><a class="header__link" href="{% url 'home' %}">About</a></li>
        <li><a class="header__link" href="{% url 'home' %}">News</a></li>
      </ul>
    </header>
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
    <footer class="footer-conteiner">
      <div class="footer__info">
        <ul class="footer__links">
          <li><a class="footer__link" href="{% url 'home' %}">Home</a></li>
          <li><a class="footer__link" href="{% url 'home' %}">About</a></li>
          <li><a class="footer__link" href="{% url 'home' %}">News</a></li>
        </ul>
        <h3 class="footer__logo">My Blog</h3>
      </div>
      <div class="footer__socials">
        <p class="footer__social-caption">We in social network:</p>
        <ul class="footer__social-links">
          <li class="footer__social-link"><a href="#twitter">Twitter</a></li>
          <li class="footer__social-link"><a href="#telegram">Telegram</a></li>
          <li class="footer__social-link"><a href="#facebook">Facebook</a></li>
          <li class="footer__social-link"><a href="#instagram">Instagram</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
